#map {
    width: 58%;
    height: 525px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#slider {
    padding-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;

    #firstyear, #lastyear {
        padding-top: 4px;
        font-size: 28px;
    }

    #firstyear {
        padding-right: 20px;
    }

    #lastyear {
        padding-left: 20px;
    }

    #sliderLabel {
        font-size: 28px;
        font-variant: small-caps;
        letter-spacing: 1;
    }

    .mapyear {
        padding-left: 2px;
        padding-right: 2px;
    }

    a.mapyearLinkClass {
        color: #888;
        text-decoration: none;
    }

    a.mapyearLinkClass.active {
        color: black;
    }

    a.mapyearLinkClass:hover {
        color: black;
        text-decoration: underline;
    }

    #mapslider {
        margin-bottom: 8px;
    }
}

#mapPlay, #mapStop {
    margin-left: 20px;
    margin-bottom: 10px;
}
