* {
    font: 100% $font1;
    color: $base-color1;
}

html,
body {
    height: 100%;
}

body {
    background: whitesmoke;
}

.wrap {
    min-height: 80%;
    height: auto !important;
    margin: 0 auto -10px;
}

#main {
    height: 100%;
}

p {
    font-size: 18px;
}

#coverpic {
	width: 100%;
	height: 100%;
	margin-top: 50px;
	margin-left: 30px;
}
