#chart { 
    background: whitesmoke;
    opacity: 1;
    padding-left: 0px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: 0px solid $base-color3;
    height: 150px;
    width: 100%;
    h1 {
            font-family: $font3;
            font-weight: 600;
            margin-top: 10px;
    }

    span, p {
            font-family: $font3;
    }
    
    .cite {
            padding-top: 20px;
    }
    .sourceid {
            font-weight: 600;
    }
    .primary .value {
            display: block;
            font-size: 2.2em;
            line-height: 1;
            font-weight: 600;
    }

    .secondary {
            display: block;

            .value, {
                    font-weight: 600;
            }

            .value {
                    font-size: 1.2em;
            }
    }
    
}


