dl {
    padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-botom: 5px;
	width: 100%
  }
dt {
    float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
	width: 70%;
    color: lightsmoke;
  }
dt:after {
    content: ":";
	padding-right: 10px;
  }
dd {
	text-align: right;
    margin: 0 30px 0 0;
    padding: 0 0 1px 1px;
  }

.dl-narrow {
	@extend dl;

	dd {
		text-align: right;
		margin: 0 5px 0 0;
		padding: 0 0 1px 1px;
	}
}
