$font1: 'Arvo', Times, serif;
$font2: 'Merriweather', Times, serif;
$font3: 'Source Sans Pro', sans-serif;
$font4: 'PT Sans', sans-serif;
$primary-color: #333;

$base-color1: #03568b;
$base-color2: #568b03;
$base-color3: #8b0356;
$base-color2a: #477202;
$base-color2b: #284001;

$light-grey1: #efefe1;
$light-grey2: #a6a6a6;

$blue-grey: #E9EEF6;
$logo-dark-blue: #1D5CB0;
$logo-light-blue: #008def;
